#home__testimonials {
    width: 100%;
    background-color: $gray;
    overflow: hidden;
    padding-bottom: 2rem;
    @include container;

    .testimonials-container {
        margin-top: 6rem;

        .content {
            margin-top: 4rem;
        }
    }
}