#home__services {
    width: 100%;
    overflow: hidden;
    background-color: $gray;
    padding-bottom: 4rem;
    @include container;

    .services-container {
        margin-top: 6rem;

        .header {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            h2 {
                color: #fff;
                text-align: center;
                font-weight: 600;
            }

            p {
                color: #fff;
                text-align: center;
            }
        }

        .content {
            margin-top: 4rem;
        }
    }
}