#choices-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: space-between;
    padding: 0 2%;

    &__header {
        display: flex;
        gap: 15px;
        align-items: center;

        img {
            width: 65px;
            @include bounce;
        }

        h5 {
            color: #fff;
        }
    }

    &__text {
        p {
            color: #fff;
        }
    }

}