#services-card {
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
        width: 65px;
    }

    h4 {
        color: #fff;
    }

    p {
        color: #fff;
        font-size: 15px;
    }
}