#services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2%;
    height: 24rem;
    flex-wrap: nowrap;

    @include screen(small){
        height: max-content;
        gap: 25px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 15px;

        img {
            width: 65px;
            @include bounce;
        }

        h5 {
            color: #fff;
        }

        p {
            color: #fff;
            font-size: 15px;
        }
    }

    &__button {
        width: 100%;

        .btn {
            background-color: $gray03;
            color: #fff;
            width: 100%;
            padding: 10px 0;
            font-weight: 500;
        }
    }

}