@import "./sections/home/home-hero.scss";
@import "./sections/home/home-companies.scss";
@import "./sections/home/home-services.scss";
@import "./sections/home/home-choices.scss";
@import "./sections/home/home-testimonials.scss";
@import "./../styles/sections/home/home-footer.scss";

#home {
    width: 100%;
    overflow: hidden;
}

body {
    background-color: $gray;
}